@import url(../../constants.css);
.svg{
    color: #fff;
    position: relative;
}
.title{
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    text-transform: none;
}
.subscribe{
    font-size: 0.8125rem;
    font-weight: 500;
    font-family: inherit;

    line-height: 1.75;
    letter-spacing: 0.02857em;
}
.nav_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0;
}

.button_search{
    border-radius: 50%;
    padding-top:0.3rem ;
    display: flex;
    flex-direction: column;
    justify-self: unset;
}
.button_signUp{
    border: rgba(85, 85, 85, 0.61) 0.1px solid;
    border-radius: 5px;
    width: 75px;
    
}
.container_span{
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    justify-content: center;
    align-self: center;
}
.button_signUp:active{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 0;
}
