.info{
    display: flex;
    flex-direction: column;
    
}
.info >*{
    display: inline;
}
.img{
    width: 160px;
    height: 197px;
    background-image: url("https://source.unsplash.com/random");
}
