@import url(./constants.css);

html{
  min-width: 67px;
  width: 100%;
}

body{
  color: var(--white);
  background-color: #121212 ;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  font-size: 0.875rem;
 
}
#root{
  
  overflow-x: none;
}

